section{
max-width: 1500px;
height:700px;
margin: 0 auto
}

#shine{
  padding-top: 100px;
  height: 600px;
}

section p{
  margin: 50px 0 0 0;
  padding: 0;
  display: inline-block;
  position: absolute;
  width: 200px;
  height: 10px;
  border-radius: 30%;
}

.red{
  background: red;
  transform: translate(2000px, 0);
  transition: transform .4s;
  transition-timing-function: ease-out;
}

.lime{
  background: lime;
  transform: translate(2000px, 0);
  transition: transform .5s;
  transition-timing-function: ease-out;
}

.skyblue{
  background: skyblue;
  transform: translate(2000px, 0);
  transition: transform .3s;
  transition-timing-function: ease-out;
}

.yellow{
  background: yellow;
  transform: translate(2000px, 0);
  transition: transform .5s;
  transition-timing-function: ease-out;
}

.pink{
  background: pink;
  transform: translate(2000px, 0);
  transition: transform .6s;
  transition-timing-function: ease-out;
}

.margin-1{
  margin-top: 100px;
}

.margin-2{
  margin-top: 150px;
}

.margin-3{
  margin-top: 200px;
}

.margin-4{
  margin-top: 250px;
}

@media all and (max-width : 670px){
  .margin-1{
    margin-top: 50px;
  }

  .margin-2{
    margin-top: 75px;
  }

  .margin-3{
    margin-top: 100px;
  }

  .margin-4{
    margin-top: 200px;
  }

  section{
    height: 450px;
  }

  section p{
    width: 100px;
    height: 10px;
    border-radius: 30%;
  }

  .red{
    transform: translate(1000px, 0);
  }

  .lime{
    transform: translate(1000px, 0);
  }

  .skyblue{
    transform: translate(1000px, 0);
  }

  .yellow{
    transform: translate(1000px, 0);
  }

  .pink{
    transform: translate(1000px, 0);
  }

}
